@use "../abstract" as *;

.bg-yellow {
  background-color: var(--clr-yellows-500);
}

.bg-green {
  background-color: var(--clr-greens-500);
}

.bg-dark {
  background-color: var(--clr-neutral-500);
}

.bg-slider1 {
  background-image: linear-gradient(hsla(0, 0%, 10%, 0), hsla(0, 0%, 10%, 1)),
    url("/src/image/01.webp");
}
.bg-slider2 {
  background-image: linear-gradient(hsla(0, 0%, 10%, 0), hsla(0, 0%, 10%, 1)),
    url("/src/image/04.webp");
}
.bg-slider3 {
  background-image: linear-gradient(hsla(0, 0%, 10%, 0), hsla(0, 0%, 10%, 1)),
    url("/src/image/06.webp");
}
.bg-slider4 {
  background-image: linear-gradient(hsla(0, 0%, 10%, 0), hsla(0, 0%, 10%, 1)),
    url("/src/image/07.webp");
}
