@use "../abstract" as *;

.bg-green {
  background-color: var(--clr-bloom-400);
}

.tp-cream {
  color: var(--clr-bloom-100);
}

.bg-slider1 {
  background-image: linear-gradient(hsla(0, 0%, 10%, 0), hsla(0, 0%, 10%, 0.5)),
    url("/src/image/wedding/annike&thiago/17.webp");
  background-position: center;
  background-size: cover;
}

.bg-gallery1 {
  background-image: linear-gradient(hsla(0, 0%, 10%, 0), hsla(0, 0%, 10%, 1)),
    url("/src/image/portrait/enya&marcus/08.webp");
  background-position: center;
  background-size: cover;
}

.bg-gallery2 {
  background-image: linear-gradient(hsla(0, 0%, 10%, 0), hsla(0, 0%, 10%, 1)),
    url("/src/image/portrait/alicia&kaio/08.webp");
  background-position: center;
  background-size: cover;
}

.bg-gallery3 {
  background-image: linear-gradient(hsla(0, 0%, 10%, 0), hsla(0, 0%, 10%, 1)),
    url("/src/image/wedding/annike&thiago/18.webp");
  background-position: top;
  background-size: cover;
}

.bg-gallery4 {
  background-image: linear-gradient(hsla(0, 0%, 10%, 0), hsla(0, 0%, 10%, 1)),
    url("/src/image/wedding/adriane&diogo/11.webp");
  background-position: top;
  background-size: cover;
}
