@use "../abstract" as *;

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 3.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--clr-bloom-100) var(--clr-bloom-600);
}

body {
  background-color: var(--clr-bloom-600);
  min-height: 100vh;
}
