@font-face {
  font-family: "bold";
  src: url("/src/fonts/Monterchi-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "regular";
  src: url("/src/fonts/Monterchi-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "light";
  src: url("/src/fonts/Monterchi-Light.otf");
  font-weight: normal;
  font-style: normal;
}
