// Border sizing rules

*,
::after,
::before {
  box-sizing: border-box;
}

// Remove default margin

body,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

// Make images easier to work with

img,
picture {
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Inherit fonts for buttons

button {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

// resize input

textarea {
  resize: vertical;
}

// Remove list styles

menu[role="list"],
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
