$colors: (
  neutral: (
    100: hsl(0, 0%, 50%),
    200: hsl(0, 0%, 40%),
    300: hsl(0, 0%, 30%),
    400: hsl(0, 0%, 20%),
    500: hsl(0, 0%, 10%),
  ),
  light: (
    100: hsl(20, 11%, 83%),
    200: hsl(20, 11%, 73%),
    300: hsl(20, 11%, 63%),
    400: hsl(20, 11%, 53%),
    500: hsl(20, 11%, 43%),
  ),
  yellows: (
    100: hsl(39, 71%, 66%),
    200: hsl(39, 71%, 56%),
    300: hsl(39, 71%, 46%),
    400: hsl(39, 71%, 36%),
    500: hsl(39, 71%, 26%),
  ),
  greens: (
    100: hsl(69, 19%, 61%),
    200: hsl(69, 19%, 51%),
    300: hsl(69, 19%, 41%),
    400: hsl(69, 19%, 31%),
    500: hsl(69, 19%, 21%),
  ),
);
