@use "../abstract" as *;

.c-close {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--clr-light-100);
  font-size: 2.4rem;
  align-self: center;
  justify-self: start;
  transition: $transition-global;

  &:hover,
  &:focus {
    color: var(--clr-yellows-200);
  }
}
