@use "../abstract" as *;

.c-dots {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--clr-light-100);
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0 1rem;
  transition: $transition-global;

  &:hover,
  &:focus {
    background-color: var(--clr-light-100);
    transform: scale(1.2);
  }
}
