@use "../abstract" as *;

.c-form {
  display: grid;

  &__label {
    margin: 1rem 0;
  }

  &__input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: var(--clr-bloom-100);
    border-radius: 4px;
    border: none;

    &:focus {
      border-color: var(--clr-bloom-200);
      box-shadow: 0 0 5px 3px var(--clr-bloom-200);
      outline: 3px solid transparent;
    }

    &:not(textarea) {
      line-height: 1;
      height: 2.25rem;
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--clr-bloom-500);
    color: var(--clr-bloom-100);
    letter-spacing: 0.25em;
    padding: 0.65em 4em;
    margin: 1.5rem 0;
    transition: $transition-global;

    &:hover,
    &:focus {
      background-color: var(--clr-bloom-600);
    }
  }
}
