@use "../abstract" as *;

.c-nav {
  margin: auto 0;

  &__menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &__link {
    color: var(--clr-bloom-100);
    transition: $transition-global;

    &:hover,
    &:focus {
      color: var(--clr-bloom-200);
    }
  }
}
