@use "../abstract" as *;

.c-sidebar {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--clr-bloom-600);
  position: fixed;
  inset: 0 0 0 50%;
  z-index: 10;
  transform: translateX(100%);
  transition: $transition-global;

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__link {
    color: var(--clr-bloom-100);
    transition: $transition-global;

    &:hover,
    &:focus {
      color: var(--clr-bloom-200);
    }
  }
}

.c-sidebar--visible {
  transform: translateX(0);
}

.body--hidden {
  overflow: hidden;
}
