@use "../abstract" as *;
@use "../tools" as *;

.l-header {
  background-color: var(--clr-bloom-400);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

  &__title {
    padding: 1rem 0;
  }

  @include breakPoints("large") {
    .c-open {
      display: none;
    }

    .c-nav {
      display: block;
    }
  }
}

.d-grid {
  grid-template-columns: repeat(2, 1fr);
}

.c-nav {
  display: none;
}
